.half{
  &.with-extra-info{

    .contents{
      &-inner{
        align-items: flex-start!important;
      }
    }

    @include media-breakpoint-down(lg){
      display: flex;
      flex-direction: column-reverse;
      min-height: 100vh;
      background-color: #f6f7fc;
      justify-content: flex-end;

      .bg{
        height: auto;
        position: relative;
      }

      .contents{
        height: auto;
        min-height: fit-content;
        padding:30px 0 40px;
      }

      .help{
        &-inner{
          border-right: 0;
          border-top:4px solid;
        }
      }
    }
  }
}